.header {
    display:flex;
    justify-content: space-between;
    align-items: center;
}


.logo-text {
    color: teal;
    font-family: 'Courier New', Courier, monospace;
}

.logo-header {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-right: 20px;
}

.header__logo {
    height: 40px;
    object-fit: contain;
}

.header__icon {
    padding:20px;
}