.swipeButtons {

    position: fixed;
    bottom: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.swipeButtons .MuiIconButton-root {
    background-color:#ffffff;
    box-shadow: 0px 10px 43px 0px rgba(0,0,0,0.3) !important;
}

.swipeButtons__left {
    padding: 3vw !important;
    color: #f5b748 !important;
}

.swipeButtons__right {
    padding: 3vw !important;
    color: #76e2b3 !important;
}

@media only screen and (min-width: 600px) {

    .swipeButtons {
        justify-content: space-between;
    }
    
    .swipeButtons__left {
        padding: 2vw !important;
        margin-left: 5vw !important;
    }
    
    .swipeButtons__right {
        padding: 2vw !important;
        margin-right: 5vw !important;
    }
}